.main__page__welcome h2{
    font-family: "Roboto";
    font-size: 38px;
}
.main__page__welcome__title--name{
    color: #E60000;
}
.main__page {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    margin-left: 30px;
    width: 80%;
  }

  .main__page__welcome {
    width: 50%;
    margin-top: 0px;
    margin-right: auto;
  }

  .main__info{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    
  }
  .align{
    display: flex;
   
  }
  .align-chart{
    display: flex;
  }
  @media (max-width: 1600px) {
    .align-chart{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    
  }
  .main__page__charts{
    margin-right: 100px;
  }